@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
    justify-content: left;
    align-items: center;
}

.home-img img {
    width: 35vw;
    margin: 0 10rem;
    border-radius: 50%;
    animation: floatImage 2s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}

.home-content h3 {
    font-size: 7rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;

}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 3rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600; 
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

/*=======about css=========*/
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.about-img img {
    border-radius: 50%;
    position: left;
    height: 100%;
    width: 60%;
}

.heading {
    text-align: left;
    font-size: 10rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
    margin-left: -20rem;
}

.about-content h3 {
    font-size: 2.6rem;
    margin-left: -20rem;
}

.about-content p {
    font-size: 1.6rem;
    text-align: left;
    margin-left: -20rem;
    margin-bottom: 3rem;
}

.about-content .btn {
    margin-left: -20rem;
}

/*=======education css=========*/
.education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.education-box .title {
    font-size: 4rem;
    margin: 2rem;
}

.education-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.education-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s
}

.education-content .content:hover::before {
    width: 100%;
}

.education-content .content .year {
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}

.education-content .content .year i {
    padding-right: .5rem;
}

.education-content .content h3 {
    font-size: 2rem;
    color: var(--main-color);
}

.education-content .content p {
    font-size: 1.6rem;
    padding-top: .5rem;
}

.neon-link {
    color: #39FF14; /* Neon Green color */
}

.btn-box.back {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 10rem;
  width: 50rem;
}

.btn-box.back a::before {
    background: var(--second-bg-color);
}

/*=======publication css=========*/
.publication-heading {
    text-align: center;
    font-size: 7rem;
}

.publication h2 {
    margin-bottom: 5rem;
}

.publication-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.publication-container .publication-box {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.publication-container .publication-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.publication-box h3 {
    font-size: 2rem;
}

.publication-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.publication-content h3 {
    font-size: 2.6rem;
    text-align: center;
    margin: 5rem;
}

.publication-content .btn {
    justify-content: center;
    display: flex;
}

.mentor-heading {
    text-align: center;
    font-size: 7rem;
}

.mentor {
    background: var(--second-bg-color);
}

.mentor h2 {
    margin-bottom: 5rem;
}

.mentor-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.mentor-container .mentor-box {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.mentor-container .mentor-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.mentor-box h3 {
    font-size: 2.6rem;
}

.mentor-box img {
    border-radius: 50%;
}

.mentor-box p {
    font-size: 1.6rem;
    margin: 1rem 0 1rem;
    font-weight: 700;
}

.mentor-content h3 {
    font-size: 2.6rem;
    text-align: center;
    margin: 5rem;
}

.mentor-content .btn {
    margin-top: -2rem;
    display: flex;
    text-align: center;
    justify-content: center;
}

.project {
    background-color: var(--bg-color);
}

.project-heading {
    text-align: center;
    font-size: 7rem;
}

.project h2 {
    margin-bottom: 4rem;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.project-container .project-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.project-box img {
    width: 100%;
    transition: .5s ease;
}

.project-box:hover img {
    transform: scale(1.1);
}

.project-box .project-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.project-box:hover .project-layer {
    transform: translateY(0);
}

.project-layer h4 {
    font-size: 3rem;
}

.project-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.project-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background-color: var(--text-color);
    border-radius: 50%;
}

.project-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

.skill {
    background-color: var(--second-bg-color);
    margin-bottom: -10rem;
}

.skill-heading {
    text-align: center;
    font-size: 7rem;
    margin: -3rem 0 2rem;
}

.skill-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    margin-top: -20rem;
}

.skill-card {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

    .skill-card > .skill-row {
        color: white;
        display: flex;
        flex-wrap: nowrap;
    }

        .skill-card > .skill-row > .skill-icon {
            background: #223;
            color: white;
            border-radius: 50%;
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 15px;
        }

        .skill-card > .skill-row > .skill-description {
            display: flex;
            justify-content: center;
            flex-direction: column;
            overflow: hidden;
            height: 80px;
            width: 520px;
            opacity: 0;
            transform: translateY(30px);
            transition-delay: .3s;
            transition: all .3s ease;
        }

.skill-description p {
    color: #fff;
    padding-top: 5px;
}

.skill-description h4 {
    text-transform: uppercase;
}

skill-input {
    display: none;
}

    input:checked + label {
        width: 600px;
    }

        input:checked + label .skill-description {
            opacity: 1 !important;
            transform: translateY(0) !important;
        }

.skill-card[for="c1"] {
    background-image: url('../images/bioinfo.jpg');
}

.skill-card[for="c2"] {
    background-image: url('../images/python.jpg');
}

.skill-card[for="c3"] {
    background-image: url('../images/ml.jpg');
}

.skill-card[for="c4"] {
    background-image: url('../images/web.jpg');
}

.skill-card[for="c5"] {
    background-image: url('../images/tutor.png');
}

.skill-card[for="c6"] {
    background-image: url('../images/entre.jpg');
}

.contact {
    background-color: var(--bg-color);
}

.contact-heading {
    font-size: 7rem;
    text-align: center;
}

.contact h2 {
    margin-bottom: 2rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .contact-input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .contact-input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .contact-input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .contact-btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    margin-left: 35rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}


/*BREAKPOINTS*/
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .services {
        padding-bottom: 7rem;
    }

    .project {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about img {
        width: 70vw;
        margin-top: 4rem;
    }

    .services h2 {
        margin-bottom: 3rem;
    }

    .project h2 {
        margin-bottom: 3rem;
    }

    .project-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 617px) {
    .project-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .contact form .input-box input {
        width: 100%;
    }
}

@media (max-width: 365px) {
    .home-img img {
        width: 90vw;
    }

    .about-img img {
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}