@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    text-transform: capitalize;
    transition: all 0.2s linear;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #01151e;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: rgb(235, 202, 245);
}

html::-webkit-scrollbar-thumb {
  background: #8ff7be;
}

/*navbar starts */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: #010e24;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.heading {
    font-size: 5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}

span {
    color: var(--main-color);
}

.box img {
    position: absolute;
    width: 42rem;
    height: 42rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -28rem;
    margin-left: -58rem;
}

.box img img {
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
}

.box img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--second-bg-color);
    border-bottom: .2rem solid var(--second-bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
}

.home-sci {
    position: absolute;
    bottom: 4rem;
    width: 230px;
    display: flex;
    justify-content: flex-start;
    margin-left: -45rem;
    margin-top: 100rem;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    margin-right: 2rem;
}

.home-sci a:hover {
    color: var(--bg-color);
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

.nadkarni {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    margin-left: 40rem;
    margin-top: 7rem;
    overflow: hidden;
}

.content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.content .content:hover::before {
    width: 100%;
}

.content .content h2 {
    font-size: 5rem;
    color: var(--main-color);
}

.content .content p {
    font-size: 2rem;
    padding-top: .5rem;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--second-bg-color);
    padding-bottom: 6rem;
    padding-top: 1rem;
    margin-top: 20rem;
}

.project-content .p-content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    margin-left: 60rem;
    margin-top: 7rem;
    overflow: hidden;
}

.project-content .p-content h2 {
    font-size: 4rem;
    color: var(--main-color);
}

.project-content .p-content p {
    font-size: 2rem;
    padding-top: .5rem;
    width: 70rem;
}

.box1 img {
    position: absolute;
    width: 50rem;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -53rem;
    margin-left: -65rem;
}

.box1 img img {
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
}

.character {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--bg-color);
    padding-bottom: -10rem;
    padding-top: 1rem;
    margin-top: .1rem;
}

.character h2 {
    margin-top: -20rem;
}

.char-content .c-content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    margin-left: 0rem;
    margin-right: 60rem;
    margin-top: 7rem;
    overflow: hidden;
}

.char-content .c-content h2 {
    font-size: 4rem;
    color: var(--main-color);
}

.char-content .c-content p {
    font-size: 2rem;
    padding-top: .5rem;
    width: 70rem;
}

.box2 img {
    position: absolute;
    width: 60rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35rem;
    margin-left: 10rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 50%;
    height: 50vh;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 80rem;
    margin-top: -40rem;
}

.comp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--second-bg-color);
    padding-bottom: 6rem;
    padding-top: 1rem;
    margin-top: .1rem;
}

.comp h2 {
    margin-top: 1rem;
    margin-bottom: -2rem;
}

.comp-content .comp-content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    margin-left: 0rem;
    margin-right: 60rem;
    margin-top: 7rem;
    overflow: hidden;
}

.comp-content .comp-content h2 {
    font-size: 4rem;
    color: var(--main-color);
}

.comp-content .comp-content p {
    font-size: 2rem;
    padding-top: .5rem;
    width: 70rem;
}

.box4 img {
    position: absolute;
    width: 50rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -43rem;
    margin-left: 1rem;
}

.box-container2 {
    display: flex;
    justify-content: center;
}

.box4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 80rem;
}

.image-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-description p {
    margin-top: 0.5rem;
    margin-left: 0.8rem;
    font-size: 2rem;
}

.comp-content1 {
    position: relative;
    width: 100%;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    margin-left: 60rem;
    margin-right: 60rem;
    margin-top: 7rem;
    overflow: hidden;
}

.comp-content1 p {
    font-size: 2rem;
    padding-top: .5rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.paper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--bg-color);
    padding-bottom: 6rem;
    padding-top: .1rem;
    margin-top: -1rem;
}

.paper h2 {
    margin-top: -40rem;
    margin-bottom: -2rem;
}

.paper-content .paper-content {
    position: relative;
    width: 100%;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 60rem;
    margin-top: 5rem;
    overflow: hidden;
}

.paper-content .paper-content p {
    font-size: 2rem;
    padding-top: .5rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}